{% extends 'shared/base.html' %}
{% load thumbnail %}
{% load render_partial %}

{% block content %}
    {% for blogs in context %}
        {{ blogs.title }}
    {% endfor %}
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن اخبـار</h2>
						{% for data in news %}
						    <div class="single-blog-post">
							<h3>{{ data.title }}</h3>
							<div class="post-meta">
								<ul>
                                    {% if data.auther %}
									    <li><i class="fa fa-user"></i>{{ data.auther }}</li>
                                    {% endif %}
									<li><i class="fa fa-clock-o"></i>{{ data.date.time.isoformat}}</li>
									<li><i class="fa fa-calendar"></i> {{ data.date.date }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
                                {% thumbnail data.image '892x368' crop='center' as im %}
                                    <img src="{{ im.url }}" alt="123">
                                {% endthumbnail %}

							</a>
							<p>{{ data.short_description }}</p>
							<a class="btn btn-primary" href="{% url 'article-detail' data.pk %}">ادامـه مطلب</a>
						</div>
						{% endfor %}
						<div class="pagination-area">
							<ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                                {% endif %}

                                {% for pageNumber in paginator.page_range %}
                                    <li {% if page_obj.number == pageNumber %} class="active">
                                        <a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                                    {% else %}
                                        <li ><a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                                {% endif %}

							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="left-sidebar">
                        {% render_partial 'article.views.categories_sort'  %}


						<div class="price-range"><!--price-range-->
							<h2>فیلتـر قیمـت</h2>
							<div class="well">
								 <div class="slider slider-horizontal" style="width: 176px;"><div class="slider-track"><div class="slider-selection" style="left: 0.025%; width: 0.02%;"></div><div class="slider-handle round left-round" style="left: 0.025%;"></div><div class="slider-handle round" style="left: 0.045%;"></div></div><div class="tooltip top" style="top: -30px; left: -30.4384px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
								 <b>1.000.000 ريال</b> <b class="pull-left">0 ريال</b>
							</div>
						</div><!--/price-range-->

						<div class="shipping text-center"><!--shipping-->

						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>
	</section>


{% endblock %}