<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'user-dashboard' %}">پنل کاربری</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'edit-profile' %}">ویرایش اطلاعات</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'user-shopping-page' %}">لیست خرید های قبلی</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'change-password' %}">تغییر کلمه عبور</a>
        </li>
    </ul>
</div>